<div class="container">
	<div class="row">
		<div class="col-xs-9">
            注文情報確認
                <table>
	                <thead>
		               <tr>
			              <th>商品名</th>
                          <th colspan="2"></th>
			              <th>単価(税込)</th>
			              <th>数量</th>
			              <th>小計</th>
		               </tr>
	                </thead>
	                <tbody>
                        <% @carts.each do |cart| %>
		              <tr>
                          <td><%= attachment_image_tag cart.item, :image, :fill, 60, 60, format: 'jpeg' %></td>
			              <td><%= cart.item.name %></td>
			              <td><%= cart.item.price %></td>
			              <td><%= cart.item_quantity %></td>
			              <td>1,100</td>
		              </tr>
                      <% end %>
	                </tbody>
                </table>
        </div>
        <div class="col-xs-3">
        	<table>
        		<tr>
        			<td>送料</td>
        			<td>800</td>
        		</tr>
        		<tr>
        			<td>商品合計</td>
        			<td>1,760</td>
        		</tr>
        		<tr>
        			<td>請求金額</td>
        			<td>2,500</td>
        		</tr>
        	</table>
        </div>
    </div>
    <div class="row">
    	<h2>支払い方法</h2>
        <%= @order.paymethod %>
    	<h2>お届け先</h2><br>
    	<%= @order.fulladdress %>
    	<%= link_to "購入を確定する", orders_thanks_path, class: "btn btn-primary" %>
    </div>
</div>
