<div class="container">
購入情報入力

<h2>支払い方法</h2>
  <%= form_for @order, url: orders_create_path do |f| %>
    <input type="radio" name="paymethod" value="クレジットカード">クレジットカード
    <input type="radio" name="paymethod" value="銀行振込">銀行振込
<br>
<h2>お届け先</h2>
     <input type="radio" name="destination" value="">
      <%= f.label [:zipcode, :address], "ご自身の住所" %>
        <%= @end_user.zipcode %>
        <%= @end_user.address %>
        <%= @end_user.lastname %>
        <%= @end_user.firstname %>
        <%= f.collection_select(:destination, @destination, :address, :address) %>
        郵便番号<%= f.text_field :zipcode %>ハイフンなし
        住所<%= f.text_field :address %>
        宛名<%= f.text_field :name %>
      <%= f.submit '確認画面へ進む', class: "btn btn-primary" %>
    <% end %>
</div>
