  <% if flash[:alert] %>
  <%= flash[:alert] %>
  <% end %>
<div class="container">
購入情報入力

<h2>支払い方法</h2>
  <%= form_for @pre_order, url: orders_create_path do |f| %>
    <%= f.radio_button :paymethod, "クレジットカード", checked:true %>クレジットカード<br>
    <%= f.radio_button :paymethod, "銀行振込" %>銀行振込
<br>
<h2>お届け先</h2>
     <%= f.radio_button :destselect, 1, checked:true %>ご自身の住所<br>
     <table class="table table-condensed">
        <tr>
          <td><%= current_end_user.zipcode %>
              <%= current_end_user.address %></td>
        </tr>
        <tr>
          <td><%= current_end_user.lastname %>
              <%= current_end_user.firstname %></td>
        </tr>
     </table>
     <%= f.radio_button :destselect, 2 %>登録済住所から選択<br>
     <table class="table table-condensed">
      <tr>
        <td><%= f.collection_select(:addressint, current_end_user.destinations, :id, :fulladdress) %></td>
      </tr>
    </table>
     <%= f.radio_button :destselect, 3 %>新しいお届け先<br>
     <table class="table table-condensed">
      <tr>
        <td>郵便番号<%= f.text_field :zipcode %>ハイフンなし,半角数字7ケタ</td>
      </tr>
      <tr>
        <td>住所<%= f.text_field :address, :size => "30*30" %></td>
      </tr>
      <tr>
        <td>宛名<%= f.text_field :name %></td>
      </tr>
    </table>
      <%= f.submit '確認画面へ進む', class: "btn btn-primary" %>
    <% end %>
</div>