<div class = "container">
	<% if @destination.errors.any? %>
	<%= @destination.errors.count %>errors prohibited this obj from being saved:
	<ul>
		<% @destination.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>
	<h2>配送先新規登録</h2>
	<div class = "row">
		<div class = "col-xs-9">
			<%= form_for @destination, url: destinations_index_path, remote: true do |f|%>
			<table class = "table table-bordered">
<<<<<<< HEAD
=======
				<%= form_for @destination, url: destinations_index_path do |f|%>
>>>>>>> ed34447825e65f75ebffddfd8875ff87bd978026
				<tr>
					<th>郵便番号</th>
					<td><%= f.text_field :zipcode, class:'b' %></td>
				</tr>
				<tr>
					<th>住所</th>
					<td><%= f.text_field :address, class:'b' %></td>
				</tr>
				<tr>
					<th>宛名</th>
					<td><%= f.text_field :name, class:'b' %></td>
				</tr>
				<div><%= f.submit "登録する", class: "btn btn-info c" %></div>
			</table>
		</div>
		<% end %>
		<div class = "col-xs-9">
			<h2>配送先一覧</h2>
			<table class ="table table-bordered">
				<thead>
					<tr>
						<th>郵便番号</<th>
							<th>住所</th>
							<th>宛名</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="destination_item">
						<% @destinations.each  do |d| %>
						<tr>
							<td><%= d.zipcode %></td>
							<td><%= d.address %></td>
							<td><%= d.name %></td>
							<td><%= link_to "編集する", destinations_edit_path(d.end_user_id, d), class: "btn btn-info" %>
								<%= link_to "削除する", destinations_destroy_path(d.end_user_id, d), class: "btn btn-danger", method: :delete %></td></tr>
								<% end %>
					</tbody>
			</table>
		</div>
