
<div class ="container">
  <h1>会員詳細画面</h1>
  <div class = "row">
    <div class ="col-xs-10">
      <table class ="table">
        <tr>
          <span class="text">
             <td>顧客ID</td>
          </span>

          <td><%= @end_user.id %>

      <% if @end_user.status %>

          <span class="button">
　　　　　    <div class="btn btn-success btn-xs">有効会員</div>
          </span>
         </td>
      </tr>

      <% else %>
        <td>退会済</td>
      <% end %>

        <tr>
          <td>氏名</td>
          <td><%= @end_user.lastname %><%= @end_user.firstname %></td>
        </tr>

        <tr>
          <td>フリガナ</td>
          <td><%= @end_user.lastname_kana %><%= @end_user.firstname_kana %></td>
        </tr>

        <tr>
          <td>郵便番号</td>
          <td><%= @end_user.zipcode %></td>
        </tr>

        <tr>
          <td>住所</td><td><%= @end_user.address %></td>
        </tr>

        <tr>
          <td>電話番号</td>
          <td><%= @end_user.phone_number %></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= @end_user.email %></td>
        </tr>
      </table>

<%= link_to "編集する", admins_end_users_edit_path(@end_user), class:"btn btn-info" %>&emsp;&emsp;

<%= link_to "注文履歴一覧を見る", admins_orders_index_path, class:"btn btn-warning " %>