<h1>ジャンル編集画面</h1>
<br>

<h3>ジャンル</h3>
  <%= form_for @category, url: admins_categories_update_path(@category) do |f| %>

   <%= f.text_field :name %><br>

   <%= check_box_tag :test1 %>
    <%= label_tag :test1, "有効" %>

   <%= check_box_tag :test2 %>
    <%= label_tag :test2, "無効" %>

   <%= f.submit '変更を保存する' %>

  <% end %>