<h1>ジャンル編集画面</h1>
<br>

<h3>ジャンル</h3>
  <%= form_for @category, url: admins_categories_update_path(@category) do |f| %>

   <%= f.text_field :name %><br>

  <%= f.radio_button :available, :true %>
  <%= f.label :status, "有効", {value: :true, style: "display: inline-block;"} %>
  <%= f.radio_button :available, :false %>
  <%= f.label :status, "無効", {value: :false, style: "display: inline-block;"} %>

   <%= f.submit '変更を保存する' %>

  <% end %>