<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
</head>
<div class = "container">
	<body>

		<h1>ショッピングカート</h1><br>
		<div class ="pull-right">
	<% if current_end_user.carts.count > 0  %>
			<h2><%= link_to 'カートを空にする', carts_empty_path, method: :delete, data:{confirm: 'カートを空にして本当によろしいですか？'}, class: "btn-lg btn-danger" %></h2></br>
		</div>

		<div class = "row">
			<div class ="col-xs-12">
				<table class ="table table-bordered">
					<thead>
						<tr>
							<th>商品名</th>
							<th>単価(税込)</th>
							<th>数量</th>
							<th>小計</th>
							<th></th>
						</tr>
					</thead>
					<% current_end_user.carts.each do |cart| %>
					　<tbody>
						<tr>
							<td><%= attachment_image_tag cart.item, :image, :fill, 50, 50, class: "", fallback: ""%><%= cart.item.name %></td>
							<td><%= (cart.item.price * 1.10).to_i.to_s(:delimited) %></td>
							<%= form_for (cart), url: carts_path do |f| %>
							<td><%= f.number_field :item_quantity %><%= f.submit '更新', class: "btn-sm btn-default"%></td>
							<%= f.hidden_field :id, :value => cart.id %>
							<td><%= (cart.item.price * 1.10 * cart.item_quantity).to_i.to_s(:delimited) %>円 </td>
							<% end %>
							<td><%= link_to '削除', carts_destroy_path(cart.id), method: :delete, class: "btn-sm btn-danger" %></td>
						</tr>
					　</tbody>
					<% end %>
				</table>
			</div>
		</div>
		<td><%= link_to '買い物を続ける',root_path, class: "btn-lg btn-info" %></td><br>
		<div class ="pull-right">
			<tr>
				<h1><td>合計金額<%= @cart_total_price.to_i.to_s(:delimited)%>円</td></h1>
			</tr>
		</div><br>
		<%= link_to '情報入力に進む', orders_new_path, class: "btn-lg btn-info"  %>
	<% else %>
		<div class = "container">
			<div class ="col-xs-12">
				<div class="pull-left">
					<h1>カートは空です</h1><br>
					<%= link_to '買い物を続ける',root_path, class: "btn-lg btn-info" %>
				</div>
			</div>
		</div>
	<% end %>
		</body>
</div>
				</html>

