<%= form_for @item, url: admins_item_update_path(@item) do |f| %>
    <h2>商品編集画面</h2>
    <div class="item-image">
        <%= attachment_image_tag @item, :image, :fill, 200, 200, class: "img-circle pull-left profile-thumb", fallback: ""%>
    </div>
    <div class="form-group has-icon">
    <%= f.attachment_field :image, placeholder: "プロフィール画像", class: "user-edit-form" %>
    </div>
    <div class="form-group row">
    <label for="item_name">商品名</label><br>
    <%= f.text_field :name, class:'col-xs-12' %>
  </div>
  <div class="form-group row">
    <label for="item_discription">商品説明</label><br>
    <%= f.text_area :discription, class:'col-xs-12' %>
  </div>
  <div class="form-group row">
    <label for="category_id">ジャンル</label><br>
    <%= f.collection_select(:category_id, @categories, :id, :name) %>
  </div>
  <div class="form-group row">
    <label for="item_price">税抜き価格</label><br>
    <%= f.number_field :price, class:'col-xs-12' %>
  </div>
  <div class="form-group row">
    <label>販売ステータスプルダウンが入る場所</label>
  </div>
    <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>
