<div class="container">
  <div class="row">
<h1>商品一覧画面</h1>
  <div class="col-xs-8 col-xs-offset-2">
<table class="table table-responsive table-bordered">
<thead>
    <tr class="active">
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <br>
  <tbody>
      <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admins_item_show_path_path(item) %></td>
      <td><%= (item.price).to_s(:delimited) %></td>
      <td><%= item.category.name %></td>
      <% if item.status %>
      	<td>販売中</td>
      <% else %>
        <td>販売停止中</td>
      <% end %>
    </tr>
  <% end %>
</tbody>
</table>
<%= link_to "新規登録", admins_item_new_path_path, class:'btn btn-info' %>
</div>
<div class="col-xs-2">
</div>
</div>
</div>