<div class ="container">
  <h1>商品　詳細画面</h1>
  <div class ="row">
    <div class ="col-xs-3">
      <%= attachment_image_tag @item, :image, :fill, 200, 250, class: "", fallback: ""%>
    </div>
    <div class ="col-xs-5">
    <table class = "table">
      </div>
      <tr>
        <td><h2>商品名</h2></td><td><h2><%= @item.name %></h2></td>
      </tr>
      <tr>
        <td><h2>商品説明</h2></td><td><h2><%= @item.discription %></h2></td>
      </tr>
      <tr>
        <td><h2>ジャンル</h2></td><td><h2><%= @item.category.name %></h2></td>
      </tr>
      <td><h2>税抜き価格</h2></td><td><h2><%= @item.price.to_s(:delimited)%></h2></td>
      <tr>
        <td><h2>税込み価格</h2></td><td><h2><%= @price_zeikomi.to_s(:delimited)%></h2></td>
      </tr>
      <tr>
        <td><h2>販売ステータス</h2></td><% if @item.status %>
        <td><h2>販売中</h2></td><br>
        <% else %>
        <td>販売停止中</td><br>
        <% end %>
      </tr>
    </table>
    <div class ="pull-right">
      <%= link_to "編集する", admins_item_edit_path(@item), class: "btn btn-info btn-lg" %>
    </div>
  </div>
</div>