<div class = "item-image">
	<%= attachment_image_tag @item, :image, :fill, 200, 200, class: "", fallback: ""%>
</div>

<td><%= @item.name %></td><br>
<td><%= @item.discription %></td><br>
<td>¥</td><td><%= @price_zeikomi %></td><td>(税込)</td>
<br>

<%= from_for (@item) do |f| %>
<%= f.select :quantity, [["1","1"], ["2","2"], ["3","3"], ["4","4"], ["5","5"], ["6","6"], ["7","7"], ["8","8"], ["9","9"], ["10","10"]], include_blank: "個数選択" %>

<%= f.submit "カートに入れる" %>
<% end %>