<div class="container">
  <h2>マイページ</h2>
  <div class="row">
    <div class="col-xs-10">
      <h3>登録情報</h3>
      <%= link_to "編集する", end_users_edit_path , class: "btn btn-info"%>
      <%= link_to "パスワードを変更する", '/end_users/password', class: "btn btn-info"%><br><div>　　</div>
<table class = "table table-bordered">
 <tbody>
    <tr>
      <td class="active">氏名</td>
      <td><%= @end_user.lastname + @end_user.firstname %></td>
    </tr>
    <tr>
      <td class="active">カナ</td>
      <td><%= @end_user.lastname_kana + @end_user.firstname_kana %></td>
    </tr>
    <tr>
      <td class="active">郵便番号</td>
      <td>〒<%= @end_user.zipcode %></td>
    </tr>
    <tr>
      <td class="active">住所</td>
      <td><%= @end_user.address %></td>
    </tr>
    <tr>
      <td class="active">電話番号</td>
      <td><%= @end_user.phone_number %></td>
    </tr>
    <tr>
      <td class="active">メールアドレス</td>
      <td><%= @end_user.email %></td>
 </tbody>
</table>
<table>
      <tr>
        <td>配送先　　<%= link_to "一覧を見る", "/end_users_id/destinations", class: "btn btn-info"%></td>
      </tr>
      <tr>
        <td>　　</td>
      </tr>
      <tr>
        <td>注文履歴　<%= link_to "一覧を見る", orders_index_path, class: "btn btn-info"%></td>
      </tr>
</table>
</div>
</div>
</div>
