<div class="containar">
	<div class="row">
		<div class="col-xs-2">

<h2>ジャンル検索</h2><br>
<% @categories.each do |category| %>
<table class="table table table-hove">
    <tr class="warning">
      <td><h4><%= link_to category.name, end_users_categories_show_path(category) %></h4></td>
    </tr>
  </table>
<% end %>
  		</div>

<div class="col-xs-10">
<h1>商品一覧 (全<%= @items.count %>件)</h1>
<table class="table">
  <tbody>
      <% @items.each_slice(3) do |item3| %>
      <div class="row">
        <% item3.each do |item| %>
      <div class="col-xs-3">
      <td><a><%= link_to items_show_path(item) do %>
          <%= attachment_image_tag item, :image, :fill, 200, 200, class: "", fallback: ""%></a>
          <% end %>
        <br><br>
      <%= link_to item.name, items_show_path(item) %><br>
      <%= (item.price).to_s(:delimited) %>円(税抜)</td>
      </div>
      <% end %>
      <tr>
    </tr>
  </div>
  <% end %>
</tbody>
</table>
</div>
</div>