<div class="container">
	<% if flash[:notice] %>
	<%= flash[:notice] %>
	<% end %>
	<div class="row">
		<div class="col-xs-12">
			<h2>注文詳細画面</h2>
			<table class="table">
				<tr>
					<td><strong>購入者</strong></td>
					<td><%= link_to admins_end_users_show_path(@order.end_user) do %>
						<%= @order.end_user.lastname + @order.end_user.firstname %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td><strong>配送先</strong></td>
					<td><%= @order.zipcode + @order.address %><br>
						<%= @order.name %>
					</td>
				</tr>
				<tr>
					<td><strong>支払方法</strong></td>
					<td><%= @order.paymethod %></td>
				</tr>
				<tr>
					<td><strong>注文ステータス</strong></td>
					<td><%= form_for @order, url:admins_orders_update_path do |f| %>
					    <%= f.select :status, [['入金待ち', 0],['入金確認',1],['製作中',2],['発送準備中',3],['発送済み',4]] %>
					    <%= f.submit "更新", class: "btn btn-info" %></td>
					<% end %>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8" >
			<table class="table">
				<thead>
					<tr class="active">
						<th>商品名</th>
						<th>単価（税込）</th>
						<th>数量</th>
						<th>小計</th>
						<th>制作ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @order_detail.each do |orderdetail| %>
					<%= form_for orderdetail, url: admins_detail_update_path(orderdetail) do |f| %>
					<tr>
						<td><%= orderdetail.item.name %></td>
						<td><%= (((orderdetail.purchase_price)*1.10).to_i).to_s(:delimited) %></td>
						<td><%= orderdetail.purchase_quantity %></td>
						<td><%= (((orderdetail.purchase_price*orderdetail.purchase_quantity)*1.10).to_i).to_s(:delimited) %></td>
						<td><%= f.select :production_status, {'着手不可': 0,'製作待ち': 1,'製作中': 2,'製作完了': 3} %>
					        <%= f.submit "更新", class: "btn btn-info" %></td>
					    <% end %>
					    <% end %>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-4" >
			<table class="table">
				<tr>
					<td><strong>商品合計</strong></td>
					<td><%= (@order.charge - @order.fee).to_i.to_s(:delimited) %>円</td>
				</tr>
				<tr>
					<td><strong>送料</strong></td>
					<td><%= @order.fee %>円</td>
				</tr>
					<td><strong>請求金額合計</strong></td>
					<td><%= (@order.charge).to_i.to_s(:delimited) %>円</td>
				</tr>
			</table>
		</div>
	</div>
	</div>
</div>