<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>注文詳細画面</h2>
			<table class="table">
				<tr>
					<td>購入者</td>
					<td><%= @order.end_user.lastname + @order.end_user.firstname %></td>
				</tr>
				<tr>
					<td>配送先</td>
					<td><%= @order.zipcode + @order.address %>
						<%= @order.name %>
					</td>
				</tr>
				<tr>
					<td>支払方法</td>
					<td><%= @order.paymethod %></td>
				</tr>
				<tr>
					<td>注文ステータス</td>
					<%= form_for @order, url:admins_orders_update_path do |f| %>
					<td><%= f.select :status, [['入金待ち', 0],['入金確認',1],['製作中',2],['発送準備中',3],['発送済み',4]] %>
					    <%= f.submit "更新" %></td>
					<% end %>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<table>
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価（税込）</th>
						<th>数量</th>
						<th>小計</th>
						<th>制作ステータス</th>
					</tr>
				</thead>
				<tbody>
					<%  %>
					<tr>
						<td><%= @item.name %></td>
						<td><%=  %></td>
						<td><%=  %></td>
						<td><%=  %></td>
						<td>セレクトボックス</td>
						<td>更新ボタン</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-4">
			<table class="table">
				<tr>
					<td>商品合計</td>
					<td>7000円</td>
				</tr>
				<tr>
					<td>送料</td>
					<td><%= @order.fee %></td>
					<td>請求金額合計</td>
					<td><%= @order.charge %></td>
				</tr>
			</table>
		</div>
	</div>
</div>
