<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title></title>
</head>
<body>
  <% if end_user_signed_in? %>
  <li><span class="glyphicon glyphicon-log-out"><%= link_to " logout", destroy_end_user_session_path, method: :delete %></span></li>
        <li><span class="glyphicon glyphicon-link"><%= link_to " About", about_path %></span></li>
        <li><span class="glyphicon glyphicon-log-in">カート</span></li>
        <li><span class="glyphicon glyphicon-log-in"><%= link_to " マイページ", end_users_mypage_path %></span></li>
  
  <% else %>
  <li><span class="glyphicon glyphicon-home"><%= link_to " Home", root_path %></span></li>
        <li><span class="glyphicon glyphicon-link"><%= link_to " About", about_path %></span></li>
        <li><span class="glyphicon glyphicon-log-in"><%= link_to " login", new_end_user_session_path %></span></li>
  <% end %>
  <%= yield %>
</body>
</html>
