<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title></title>
</head>


<body>
  <nav class="nav navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <li>
        <%= link_to root_path do %>
        <span class="navbar-brand" href="#">ピカチュウ</span>
        <% end %>
      </li>
    </div>

<ul class="navbar-nav navbar-right">

  <% if end_user_signed_in? %>
<li><%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search, nil, :placeholder => '商品名で検索できます' %>
  <%= hidden_field_tag :target, 'item' %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
</li>
         <li>
           <a>
            <span class="glyphicon glyphicon-user"><%= @header_login_name %>様ようこそ</span>
           </a>
         </li>

         <li>
           <a href="/end_users/mypage"><span class="glyphicon glyphicon-folder-open"></span>  マイページ</a>
         </li>

         <li>
           <a href="/carts"><span class="glyphicon glyphicon-shopping-cart"></span>  カート</a>
         </li>

         <li>
           <%= link_to about_path do %>
            <span class="glyphicon glyphicon-link">About</span>
           <% end %>
         </li>

         <li>
           <%= link_to destroy_end_user_session_path, method: :delete do %>
            <span class="glyphicon glyphicon-log-out">ログアウト</span>
           <% end %>
         </li>
</ul>
  </nav>

  <% else %>

  <% if admin_signed_in? %>
<li><%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search, nil, :placeholder => 'ユーザーの氏名で検索できます' %>
  <%= hidden_field_tag :target, 'user' %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
</li>
         <li>
           <a>
            <%= @header_login_name %>でログイン中です
           </a>
         </li>

         <li>
           <%= link_to admins_items_path do %>
            <span class="glyphicon glyphicon-list"> 商品一覧</span>
           <% end %>
         </li>

         <li>
           <%= link_to admins_end_users_index_path do %>
            <span class="glyphicon glyphicon-user"> 会員一覧</span>
           <% end %>
         </li>

         <li>
           <%= link_to admins_orders_index_path do %>
            <span class="glyphicon glyphicon-list-alt"> 注文履歴一覧</span>
           <% end %>
        　</li>

         <li>
           <%= link_to admins_categories_path do %>
            <span class="glyphicon glyphicon-edit"> ジャンル管理</span>
           <% end %>
         </li>

         <li>
           <%= link_to destroy_admin_session_path, method: :delete do %>
            <span class="glyphicon glyphicon-log-out"> ログアウト</span>
           <% end %>
         </li>

</ui>
  </nav>

  <% else %>
<li><%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search, nil, :placeholder => '商品名で検索できます' %>
  <%= hidden_field_tag :target, 'item' %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
</li>
         <li>
           <%= link_to root_path do %>
            <span class="glyphicon glyphicon-home"> HOME</span>
           <% end %>
         </li>

         <li>
           <%= link_to about_path do %>
            <span class="glyphicon glyphicon-link"> About</span>
           <% end %>
           </li>

         <li>
           <%= link_to new_end_user_session_path do %>
            <span class="glyphicon glyphicon-log-in"> Login</span>
           <% end %>
         </li>

         <li>
           <%= link_to new_admin_session_path do %>
            <span class="glyphicon glyphicon-off"> Admin</span>
           <% end %>
         </li>
</ul>
  </nav>

   <% end %>
  <% end %>
<%= yield %>

</body>
</html>
